
<script src="/assets/js/donate.js"></script>
<script src="/assets/js/create_new_donate.js"></script>
<script src="/assets/js/search.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">  <img src="https://image.flaticon.com/icons/png/512/940/940817.png" class="img-rounded" width="70" height="100"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" onclick="create_new_donate()">Criar doação</a>
          <a class="dropdown-item" href="#">Editar doação</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Top doações</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" value="{{search}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="search()" >Pesquisar</button>
    </form>
  </div>
</nav>

<section class="section container">

  <div class="container-fluid">
    <h1>Olá, seja bem vindo ao Doe Fácil!</h1>
    <p>Uma plataforma que conecta doadores de grande coração com pessoas com grande necessidade.</p>
    <div class="row">
      <div class="col welcome_labels" style="background-color:lavender; text-align:center;"><b>Top doações</b>
        <div class="text_label_hidden1" onclick="show_top_donations()" >
          <br> Venha descobrir quais são <br> as melhores doações
        </div>
      </div>
      <div class="col welcome_labels" style="background-color:rgb(171, 171, 241); text-align:center;"> <b>Criar doação</b> 
         <div class="text_label_hidden">
          <br> Abra seu coração e peça uma doação <br> 
         </div>   
      </div>
      <div class="col welcome_labels" style="background-color:rgb(154, 154, 168); text-align:center;"> <b>Fale conosco</b> 
        <div class="text_label_hidden3">
          <br> Entre em contato. <br> Somos legais
        </div>   
      </div>
    </div>
  </div>

    {{#each donations}}
        <div class = 'container_donations' onclick="">
            <center>
                <p class="title is-4">Responsável : {{this.responsible}}</p>
                <p class="subtitle is-6">Causa : {{this.sector}}</p>
                <input type="hidden" class="input level-item" value="{{this.id}}" />
                <a class="button is-primary level-item" onclick="donate({{this.id}})">Doar</a>
            </center>
        </div>     
         <br />
    {{/each}}

    <center>
        <h1>Criar doação <i class="fas fa-heart"></i></h1>
        <a class="btn btn-success btn-lg" onclick="create_new_donate()">
          <span class="glyphicon glyphicon-plus"></span> Doação  
        </a>
    </center>

</section>

<script>
  function show_top_donations() {
        window.location.href = 'top_donations';
  }
</script>
