
<script src="/assets/js/donate.js"></script>
<script src="/assets/js/create_new_donate.js"></script>
<script src="/assets/js/search.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ação</a>
          <a class="dropdown-item" href="#">Outra ação</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Algo mais aqui</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Desativado</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" value="{{search}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="search()" >Pesquisar</button>
    </form>
  </div>
</nav>

<section class="section container">
    {{#each donations}}
        <div class = 'container_donations' onclick="">
            <center>
                <p class="title is-4">Responsável : {{this.responsible}}</p>
                <p class="subtitle is-6">Causa : {{this.sector}}</p>
                <input type="hidden" class="input level-item" value="{{this.id}}" />
                <a class="button is-primary level-item" onclick="donate({{this.id}})">Doar</a>
            </center>
        </div>     
         <br />
    {{/each}}
    <center><p class="add_more_donations" onclick="create_new_donate()">+</p></center>
</section>

